/**
 * style
 */
$yellow: #ffd605;
$green: #7ddf66;
$gray: #999;

.zx-tetris-container {
  position: relative;
  background-color: #333;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 290px;
  margin: 0 auto;
  button {
    outline: none;
    cursor: pointer;
    background: none;
  }
  audio {
    display: none;
  }
  .zx-tetris__inner {
    position: relative;
    display: flex;
  }

  .tetris-start-button-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 200px;
      height: 50px;
      border-radius: 25px;
      color: $yellow;
      border: 1px solid $yellow;
    }
  }
  .tetris-stage {
    position: relative;
    width: 200px;
    height: 400px;
    flex: 0 0 200px;
    &:after {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -7px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 1;
      color: #fff;
      content: '©Capricorncd';
      filter: unquote('Alpha(opacity=20)');
      opacity: .2;
    }
  }
  .tetris-sider-wrapper {
    position: relative;
    height: 400px;
    margin-left: 10px;
    .next-square {
      width: 80px;
      height: 80px;
    }
    .tetris-statistics {
      margin-top: 10px;
      .game-times {
        color: #fff;
      }
      .game-scores {
        margin-top: 10px;
        color: #fff;
        span {
          display: block;
          &.label {
            opacity: 0.5;
            font-size: 0.8em;
          }
        }
      }
      .history-score {
        .score {
          color: $green;
        }
      }
    }
    .control-wrapper {
      position: absolute;
      left: 0;
      bottom: 50px;
      button {
        margin: 0 0 20px 0;
        width: 80px;
        height: 30px;
        text-align: center;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 24px;
        &.tetris-setup {
          color: $gray;
          border-color: $gray;
        }
        &.tetris-pause {
          color: $green;
          border-color: $green;
        }
      }
    }
  }
  .current {
    background: url('../img/theme/red.png') no-repeat 0 0;
    z-index: 2;
  }
  .done {
    background: url('../img/theme/green.png') no-repeat 0 0;
    z-index: 2;
  }
  .none {
    z-index: 0;
    background: url('../img/theme/none.png') no-repeat 0 0;
    opacity: .2;
    filter: unquote('Alpha(opacity=20)');
  }
  .next-square {
    .current {
      background: url('../img/theme/yellow.png') no-repeat 0 0;
      background-size: cover;
    }
    .none {
      background: none;
    }
  }
  .none, .current, .done {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-size: cover;
  }
  .tetris-control-wrapper {
    position: relative;
    margin-top: 10px;
    .grid-wrapper {
      display: flex;
      .grid {
        flex: 1;
        button {
          display: block;
          width: 100%;
          height: 40px;
          color: $gray;
          border: 1px solid $gray;
          background: none;
          box-sizing: border-box;
          &.btn-left {
            border-right: 0;
          }
          &.btn-right {
            border-left: 0;
          }
          &.btn-rotate {
            border-bottom: 0;
          }
          &.btn-down {
            border-top: 0;
          }
        }
      }
    }
  }
}
.game-over {
  .tetris-pause {
    color: #999 !important;
    border-color: #999 !important;
  }
  .done {
    //background: url('../img/theme/red.png') no-repeat 0 0;
    background-size: cover;
  }
}

/* IE9及以下版本 */
.ie-brower {
  .tetris-control-wrapper {
    position: absolute;
    top: 420px;
    left: 0;
    width: 320px;
    .current {
      //background: url('../img/ie/red.png') no-repeat 0 0 !important;
    }
    .done {
      //background: url('../img/ie/green.png') no-repeat 0 0 !important;
    }
    .none {
      //background: url('../img/ie/none.png') no-repeat 0 0 !important;
    }
    .next-square {
      .current {
        //background: url('../img/ie/yellow.png') no-repeat 0 0 !important;
      }
      .none {
        background: none !important;
      }
    }
    .grid-wrapper {
      height: 42px;
      overflow: hidden;
      .grid {
        float: left;
        width: 33.3%;
        &:after {
          content: '.';
          font-size: 1px;
        }
      }
    }
  }
}
